
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="container me-5 mt-5">
  <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/admin/adminDash">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/adminHome">Products</a></li>
            
          </ol>
        </nav>
      </div>
    </div> 
    </div>
<div class="container me-5">
  <div class="row">


      <div class="ms-5">
       {{#if success}}
       {{success}}
       {{/if}}
      </div>
</div>
<div class="row">


      <div class="ms-5">
       <button type="button" class="btn btn-dark float-left"> <a style="text-decoration: none; color:white" href="/admin/add-product">Add Product</a></button>
      </div>
</div>
</div>

<section class="container me-5 mt-3">
  <div class="row">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card shadow-2-strong" style="background-color: #f5f7fa;">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-borderless mb-0" id="myTable">
                    <thead>
                      <tr>
                        <th scope="col">
          <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Offers</th>
            <th scope="col">Selling Price</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {{#each product}}
            <tr>
              <td>{{this.Name}}</td>
              <td>{{this.Description}}</td>
              <td>{{this.Category}}</td>
              <td>{{this.brand}}</td>
              <td>{{this.Price}}</td>
              <td>{{this.Quantity}}</td>
              <td>{{this.offers}}</td>
              <td>{{this.actualPrice}}</td>
              <td>
              {{#each images}}
              <img style="width: 50px;height:50px" src="/uploads/{{this.fileName}}">
              {{/each}}
              </td>
              <td><a href="/admin/edit-product/{{this._id}}" class="btn border-shadow update">
              <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
              </a></td>
              <td><a class="btn border-shadow delete">
              <span class="text-gradient"><i class="fa-solid fa-trash-can" onclick="deleteProduct('{{this._id}}')"></i></span>
              </a></td>
            </tr>
          {{/each}}
       
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
        

  



<style>

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
</style>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
function deleteProduct(proId)
{
  Swal.fire({
      title: 'Are you sure?',
      text: "Delete item from cart",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
     $.ajax({
            url:'/admin/delete-product/'+proId,
            method:'get',
            success:(response)=>{
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success',
              )
              location.reload()
            }
          })
    
  }
})
}
</script>